{% extends "basegame.html" %}
{% load static %}

{% block title %} Metaslave {% endblock %}

{% block style %}
canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}
{% endblock %}

{% block content %}
<body onload="mainMenu()">
  {% csrf_token %}
  <div class="row">
    <div class="medium-centered large-centered column" style="position:relative">
      <canvas id="gameCanvas" width="1024" height="768"></canvas>
      <input id="name" type="text" style="background:none; color:white; position:absolute; left:430px; top:700px; width:200px; visibility:hidden;">
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{% static "js/metaslave.js" %}"></script>
{% endblock %}
