{% extends "base.html" %}
{% load static %}

{% block title %} {{ page_name }} {% endblock %}

{% block style %}
.centered-element{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
}
{% endblock %}

{% block content %}
<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Metaslave</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      {% if user.is_authenticated %}
      <li><a href="/logout/">Logout</a></li>
      {% else %}
      <li><a href="/login/">Log In</a></li>
      {% endif %}
    </ul>
  </div>
</div>

<div class="centered-element">
  <div class="row column text-center" style="margin-bottom:50px">
    <h1>Metaslave</h1>
  </div>

  <div class="large expanded centered row">
    <div class="medium-6 medium-centered large-4 large-centered columns" style="width:500px; height:500px;">
      <a href="/gamestart">
        <img src="/static/res/play-button.png" alt="Play button" style="display:block; margin:0 auto;">
      </a>
    </div>
  </div>
</div>
{% endblock %}
