{% extends "base.html" %}
{% load static %}

{% block title %} {{ page_name }} {% endblock %}

{% block content %}
<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Metaslave</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      {% if user.is_authenticated %}
      <li><a href="/logout/">Logout</a></li>
      {% else %}
      <li><a href="/login/">Log In</a></li>
      {% endif %}
    </ul>
  </div>
</div>

<div class="callout large secondary">
  <div class="row column text-center">
    <h1>Metaslave</h1>
  </div>
</div>

<div class="large expanded centered row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    <a href="/gamestart", class="large alert button expanded">Play Now!</a>
  </div>
</div>
{% endblock %}
